# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Вспомогательные файлы
*.log*
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Папка с собранными файлами проекта
dist/

# Файлы редактора
.idea
*.sublime*
.vscode
