.g-modal#callback
  .g-modal__title Заказать звонок
  form.f-form(action="#")
    .f-form__inner
      input.f-input(type="text", placeholder="Имя*", required)
      input.f-input(type="tel", placeholder="Телефон*", required)
      button.e-btn.e-btn--full Отправить
    .f-form__agreement Нажимая "Отправить", Вы соглашаетесь
      a.f-form__agreement-link(href="javascript::void(0)")  с обработкой персональных данных
