.g-modal {
  $p: 45px;
  position: relative;
  width: 100%;
  padding: $p;
  overflow: visible;
  border-radius: 3px;
  &__close {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    opacity: 0.7;
    transition: $transition-base;
    &:hover {
      opacity: 1;
    }
  }
}
