.g-scroll {
  &::-webkit-scrollbar-track {
    background-color: rgba(#fff, 0.1);
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(#fff, 0.1);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(#fff, 0.3);
    border-radius: 10px;
  }
}
