.e-btn {
  display: inline-block;
  color: #fff;
  background-color: var(--color-primary);
  padding: rem(15);
  min-width: 230px;
  transition: $transition-base;
  text-align: center;

  &:hover {
    opacity: .8;
  }
}
