.e-btn {
  display: inline-block;
  min-width: 230px;
  padding: rem(15);
  color: #fff;
  text-align: center;
  background-color: var(--color-primary);
  transition: $transition-base;

  &:hover {
    opacity: 0.8;
  }
}
