.e-icon {
  display: inline-block;
  vertical-align: middle;
}
.e-icon-primary {
  fill: var(--color-primary);
}
.e-icon-yellow {
  fill: #ffe100;
}

.e-icon-close {
  width: 20px;
  height: 20px;
}
.e-icon-js {
  width: 100px;
  height: 100px;
}
.e-icon-yellow--small {
  width: 50px;
  height: 50px;
}

.e-icon-js-color {
  width: 100px;
  height: 100px;
  @include bgi('../img/svg-img/js-color.svg');

  background: red;
}
