@import 'normalize.css/normalize';
@import '@fancyapps/ui/src/Fancybox/Fancybox';
@import 'swiper/swiper';

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 8px;
$hamburger-layer-border-radius: 0;
$hamburger-types: (spin);
@import 'hamburgers/_sass/hamburgers/hamburgers';

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.hamburger {
  position: relative;
  top: 3px;

  @include lg() {
    display: block;
  }
}
