@mixin rem($pxsize) {
  font-size: ($pxsize/$base-font-size) + rem;
}

@function rem($pxsize) {
  @return #{$pxsize/$base-font-size}rem;
}

//fonts
//@include font-face("Roboto", "../font/Roboto/RobotoRegular", 400, normal);
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-weight: $weight;
    font-family: $font-family;
    font-style: $style;
    src: url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.woff') format('woff');
    font-display: swap;
  }
}

//@include centered()
@mixin centered($axis: 'both') {
  position: absolute;

  @if ($axis == 'both') {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
}

//@include font;
@mixin font($font) {
  font-family: $font;
}

@mixin bgi($name) {
  background-image: url($name);
  background-repeat: no-repeat;
  background-position: center;
}

@mixin before() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

@mixin xl() {
  @media screen and (max-width: 1699px) {
    @content;
  }
}

@mixin lg() {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin md() {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin sm() {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin xs() {
  @media screen and (max-width: 479px) {
    @content;
  }
}

@mixin xs-mini() {
  @media screen and (max-width: 374px) {
    @content;
  }
}

@mixin fullAbsolute() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
