@function derive-rgb-values-from-hex($hex) {
  @return red($hex), green($hex), blue($hex);
}

//цвета
$color-primary: #52549e;
$color-link: #6a8dc8;
$color-black: #151533;

:root {
  --color-primary: #{$color-primary};
  --color-primary-rgb: #{derive-rgb-values-from-hex($color-primary)};
  --color-link: #{$color-link};
  --color-link-rgb: #{derive-rgb-values-from-hex($color-link)};
  --color-back: #{$color-black};
  --color-black-rgb: #{derive-rgb-values-from-hex($color-black)};
  --font-size: 16px;
  --line-height: 1.6;
  --width-container: 1170px;
  --container-margin: 15px;
  --gap: 30px;
  --section-offset: 100px;
  @include lg() {
    --width-container: 100vw;
  }
  @include sm() {
    --font-size: 14px;
    --container-margin: 10px;
  }
}

$transition-base: all 0.3s ease;

//шрифты
$font-base: 'Roboto', sans-serif;

//шрифты рубля
$font-rub: 'ALSRubl', sans-serif;

//rem
$base-font-size: 16;
