html {
  font-size: var(--font-size);
  font-family: $font-base;
}

body {
  color: var(--color-back);
  line-height: 1.6;
  -webkit-overflow-scrolling: touch;
}

a {
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
  transition: $transition-base;

  &:hover {
    color: var(--color-link-hover);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
}

button {
  cursor: pointer;
}

iframe,
img {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.no-scroll {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.rub {
  font-family: $font-rub;
}
