.ul {
  li {
    position: relative;
    padding-left: 10px;
    &::before {
      position: absolute;
      top: 10px;
      left: 0;
      width: 5px;
      height: 5px;
      background-color: $color-primary;
      content: '';
    }
  }
}
