@function derive-rgb-values-from-hex($hex) {
  @return red($hex),
    green($hex),
  blue($hex);
}

//цвета
$color-primary: #52549e;
$color-link: #6a8dc8;
$color-black: #151533;

:root {
  --color-primary: #{$color-primary};
  --color-primary-rgb: #{derive-rgb-values-from-hex($color-primary)};
  --color-link: #{$color-link};
  --color-link-rgb: #{derive-rgb-values-from-hex($color-link)};
  --color-back: #{$color-black};
  --color-black-rgb: #{derive-rgb-values-from-hex($color-black)};
  --font-size: 16px;
}

$transition-base: all .3s ease;

//шрифты
$font: "Rubik",
  sans-serif;

//шрифты рубля
$fontRub: "ALSRubl";

//rem
$baseFontSize: 16;
