// Подключаем переменные
@import '_vars'

// Подключаем спрайты (просто раскоментируем импорт при появлении PNG спрайтов)
//@import '_sprite'

// Подключаем миксины
@import 'utils/_mixins'

html 
	line-height: 1.6
	font-size: $baseFontSizePx
	height: 100%

body
	font-family: $fontR
	font-weight: 400
	color: #333
	height: 100%
	min-width: 320px
	line-height: 1.6
	-webkit-overflow-scrolling: touch

h1,h2,h3,h4,h5,h6
	margin: 0

ul,li
	margin: 0
	padding: 0
	list-style-type: none

p
	margin: 0

a
	text-decoration: none
	color: $black-color
	transition: all .3s ease
	outline: none
	&:active,&:hover
		color: $accent-color
		text-decoration: none
		outline: none!important

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0
input[type='number']
	-moz-appearance: textfield

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align: middle

textarea
	resize: none

*, *:before, *:after
	box-sizing: border-box

::-moz-selection 
	background: #b3d4fc
	text-shadow: none

::selection 
	background: #b3d4fc
	text-shadow: none

.clearfix:before,
.clearfix:after 
	content: " "
	display: table

.clearfix:after 
	clear: both

.clearfix 
	*zoom: 1

input,button,select,textarea
	border: 0
	padding: 0.5rem
	background: transparent
	outline: none!important
	border-radius: 0

iframe,img
	max-width: 100%

.hide
	display: none

.c-color
	&__main
		color: $main-color
	&__accent
		color: $accent-color

.noscroll
	overflow: hidden
	-webkit-overflow-scrolling: touch

.no-fixed
	position: fixed
	left: 0
	top: 0
	height: 100%
	width: 100%
	
.с-wrapper
	
.c-main

.c-title
	
.c-form
	input
		opacity: 0.5
		color: #333
		border-bottom: 1px solid #eedddb
		min-width: 213px
		padding: 5px 0
		&:focus
			opacity: 1
			& + span
				top: -12px
				left: 0
				font-size: 10px
		&:not([value=""])
			opacity: 1
			& + span
				top: -12px
				left: 0
				font-size: 10px
	label
		position: relative
		width: 100%
		& span 
			position: absolute
			color: #333
			opacity: 0.5
			top: 5px
			left: 0
			transition: all .3s ease
	textarea
		opacity: 0.5
		display: block
		width: 100%
		color: #333
		border-bottom: 1px solid #eedddb
		height: 36px
		padding: 5px 0
		&:focus
			opacity: 1
			& + span
				top: -12px
				left: 0
				font-size: 10px
		&:not([value=""])
			opacity: 1
			& + span
				top: -12px
				left: 0
				font-size: 10px
	&__row
		display: flex
		justify-content: space-between
		margin-bottom: 27px
		+sm
			flex-wrap: wrap
			margin-bottom: 0px
			
	&__agreement
		text-align: center
		opacity: 0.2
		color: #777777
		font-size: rem(12)
		margin-top: rem(12)
		width: 100%
		+sm
			line-height: 15px
			margin-top: rem(10)
		a
			color: #777777
			text-decoration: underline
			&:hover
				color: $accent-color
				text-decoration: none


.tns-outer [aria-controls]
	width: 18px
	height: 18px
	background: #F0F7F1
	border-radius: 50%
	margin-left: 40px
	transition: all .3s ease
	outline: none
	&:hover
		background: #71AF79
	&.tns-nav-active
		background: #71AF79
	+sm
		width: 14px
		height: 14px
		margin-left: 30px
.tns-nav
	display: flex
	justify-content: center
	margin-left: -40px
	margin-top: 48px
	+sm
		margin-left: -30px
		margin-top: 20px

.tns-slide-active:first-child,.tns-slide-active:last-child
	opacity: .2

[hidden]
	display: none